//default settings: what svg export will grab

$em_size = 8px
$em_size_online = 10px

div.renderer-wrapper
  font-smoothing antialiased
  width 100%
  margin 0
  padding 0
  .em-size-wrapper
    width 100%
  .em-size
    position absolute
    visibility hidden
    top 0
    line-height 1em
    margin 0 0 0 -1000px
    padding 0
    width 1em
    height 1em

svg
  &.renderer-svg
    fill $color-bg
    font-family $font-sans
    text-rendering optimizeLegibility
    box-sizing border-box
    .svg-background
      fill $color-bg
    tspan
      height 1em
      line-height 1em

.d4
  font-size $em_size
  .axis
    .title
      font-family $font-sans
      fill $color-chart-axis-text
      font-size $em_size
      font-weight bold
      
    .tick
      font-family $font-sans
      &[data-anchor="middle"]
        text
          text-anchor middle
      text
        fill $color-chart-axis-text
        shape-rendering crispEdges
        text-anchor middle
        font-size $em_size * 0.9375
      &:first-child
        text
          text-anchor middle
      line
        fill none
        stroke $color-chart-gridline
        stroke-width 0.5px
        shape-rendering crispEdges
      &.zero
        line
          stroke none
      rect
        fill $color-bg
        shape-rendering crispEdges

    &.barAxis
      text
        font-weight bold
        font-size $em_size
      line
        stroke none  

    &.xAxis
      text
        font-weight bold
        font-size $em_size
        
    &[data-scale="time"]
      .tick:not([data-anchor="middle"])
        text
          text-anchor middle
      .tick:first-child
        text
          text-anchor middle

  .concealer-label
    font-family $font-sans
    text
      fill $color-chart-axis-text
      font-size $em_size
    rect
      fill $color-bg

  .connectors line
    fill none
    stroke-width 0.4px

  line.zero
    stroke none

  .margins
    .line, .other-line
      path
        fill none
        stroke-width 2px
        stroke-linecap round
        stroke-linejoin round
    .label
      font-family $font-sans
      font-size $em_size*1.125
      font-weight bold

  .column-label
    fill $color-chart-axis-text

  line.no-label-tick
    fill none
    stroke $color-chart-gridline
    stroke-width 0.4px
    shape-rendering crispEdges

.svg-text
  font-family $font-sans
  font-size $em_size
  
  tspan
    &.em
      font-style italic
      
    &.strong
      font-family $font-sans
      font-weight bold
      
    &.strong .em, &.em .strong
      font-family $font-sans
      font-weight bold
      font-style italic

  &.svg-text-credit // Customize credit text
    font-size $em_size * 0.9375
    fill $color-chart-meta
    text-anchor start
    text-transform uppercase
  &.svg-text-source // Customize source text
    font-size $em_size * 0.9375
    fill $color-chart-meta
    text-transform uppercase
    //text
      //dominant-baseline central
    &.left
      text-anchor start
    &.right
      text-anchor end
  &.svg-text-sub // Customize sub text
    fill $color-chart-axis-text
    font-family $font-sans
    font-size $em_size
  &.svg-text-title // Customize title text
    fill $color-body-text
    font-family $font-sans
    font-weight bold
    font-size $em_size*1.5

.svg-source-pipe
  stroke $color-chart-meta
  fill none
  stroke-width 0.8px

.svg-label-text
  font-size $em_size*1.125
  font-family $font-sans
  font-weight bold
  // cursor move

.crosshair
  line
    stroke-width 1
    shape-rendering crispEdges
    stroke black

.hidden-svg
  visibility hidden

// Size specific customizations for static charts for png export

svg
  &.print_two
    .svg-label-text
      font-size $em_size*1.25
    .d4
      .axis
        .tick   
          line
            fill none
            stroke $color-chart-gridline
            stroke-width 1px
            shape-rendering crispEdges
        line.no-label-tick
          stroke-width 1px
        &.barAxis
          line
            stroke none 
    .svg-text
      font-size $em_size
      &.svg-text-credit
        font-size $em_size
      &.svg-text-source
        font-size $em_size
      &.svg-text-title
        font-size $em_size*1.5
        font-weight bold
      &.svg-text-sub
        font-size $em_size
  &.online_full
    .svg-label-text
      font-size $em_size_online*1.5
    .d4
      .axis
        .title
          font-size $em_size_online*1.8
          font-weight bold
        .tick
          text
            font-size $em_size_online*1.5   
          line
            fill none
            stroke $color-chart-gridline
            stroke-width 1px
            shape-rendering crispEdges
        line.no-label-tick
          stroke-width 1px
        &.barAxis
          line
            stroke none 
      .margins
        .label
          font-size $em_size_online*1.6
        .line, .other-line
          path
            fill none
            stroke-width 3px
            stroke-linecap round
            stroke-linejoin round
      .concealer-label text
        font-size $em_size_online*1.5
    .svg-text
      font-size $em_size_online*1.5
      &.svg-text-credit
        font-size $em_size_online
      &.svg-text-source
        font-size $em_size_online
      &.svg-text-title
        font-size $em_size_online*2.8
        font-weight bold
      &.svg-text-sub
        font-size $em_size_online*1.8
  &.online_half, &.online_vertical
    .svg-label-text
      font-size $em_size_online*1.5
    .d4
      .axis
        .title
          font-size $em_size_online*1.8
          font-weight bold
        .tick
          text
            font-size $em_size_online*1.5   
          line
            fill none
            stroke $color-chart-gridline
            stroke-width 1px
            shape-rendering crispEdges
        line.no-label-tick
          stroke-width 1px
        &.barAxis
          line
            stroke none 
      .margins
        .label
          font-size $em_size_online*1.6
        .line, .other-line
          path
            fill none
            stroke-width 2px
            stroke-linecap round
            stroke-linejoin round
      .concealer-label text
        font-size $em_size_online*1.5
    .svg-text
      font-size $em_size_online*1.5
      &.svg-text-credit
        font-size $em_size_online
      &.svg-text-source
        font-size $em_size_online
      &.svg-text-title
        font-size $em_size_online*2.8
        font-weight bold
      &.svg-text-sub
        font-size $em_size_online*1.8