// Colors

$color-bg = #ffffff
$color-body-text = #000000
$color-chart-gridline = #000000
$color-chart-meta = #000000
$color-chart-axis-text = #000000
$color-chart-title-text = #000000
$color-chart-zeroline = #000000

$color-editor-border = #e2e2e2
$color-editor-fill = #F1F1F1
$color-editor-disabled = #BEBEBE
$color-editor-text = #333333
$color-editor-placeholder = #CACACA

$chart-colors = \
	#005e7f \
	#9ccde4 \
	#9e0b0f \
	#df897c \
	#007c7c \
	#78cdd1\
	#dc661e \
	#fcbc7e \
	#000 \
	#808285 \
	#bcbec0 \
	#fff
		

for c, i in $chart-colors
	[data-color-index=\"{i}\"]
		path
			stroke (c)
		rect
			fill (c)
		circle
			stroke #fff
			stroke-width 1px
			fill (c)

	.color-index-{i}
		fill (c)

	rect[data-color-index=\"{i}\"]
		fill (c)

	text[data-color-index=\"{i}\"]
		fill (c)

	.d4 .axis .tick text[data-color-index=\"{i}\"]
		fill (c)

	.d4 .axis .title text[data-color-index=\"{i}\"]
		fill (c)

	.cb-colorpicker-color-{i}
		background-color (c)

	.series-label-{i}
		color (c)

	.series-label-input-{i}
		border-bottom 2px solid (c)
		&:hover, &:focus
			border none
			border-bottom 2px solid (c)
		input
			color (c)

	.cb-toggle.toggled.toggle-{i}
		.cb-toggle-container
			background-color (c)

