// Typography
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

// Fonts
$font-sans = "Fjalla One","Helvetica Neue",Helvetica,Arial,sans-serif
$font-sans-light = "Fjalla One","Helvetica Neue",Helvetica,Arial,sans-serif
$font-sans-bold = "Fjalla One","Helvetica Neue",Helvetica,Arial,sans-serif
$font-serif = Georgia,"Times New Roman",Times,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace


